/*!
  Author: Abrar Ashfaq
  Email: abrar@abrarashfaq.com
  Made with Love <3
 */

/*@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.otf");
}
html {
  font-family: Helvetica;
}
*/
body{
  color: #575756 !important;
}
h2 {
  font-weight: 700;
}
.carousel-inner>.item>img{
  width: 100%;
}
.carousel-caption{
  top: 30%;
}
.carousel-caption{
  top: 30%;
  text-align: left;
}
.carousel-caption p{
  width: 250px;
  background: rgba(0, 0, 0, 0.54);
}
.menu-icon {
  display: inline-block;
  margin-left: -10px;
}

.menu-icon:before {
    content: "x";
}
.menu-toggle-bars{
  position: fixed;
  top: 10px;
  z-index: 999;
  padding: 10px;
  color: #575756;
}
.menu-toggle{
  cursor: pointer;
}
/*about us Section*/
#about-us{
  padding: 60px 75px;
  min-height: 400px;
}

/* !--about us section*/

/* Facts section*/

.well-facts{
  /*background: url('../img/facts.png') no-repeat center;*/
  /*padding: 60px 0px;*/
}
#facts{
  background: url('../img/facts.png') no-repeat center;
  padding: 60px 75px;
  background-color: #28263b;
  min-height: 500px;
  color: #fff;

}
.well-facts .fancy-border{
  border-bottom: 1px solid #FFF;
}
.well-facts .fancy-border span{
  border-bottom: 3px solid #FFF;
}
/* !--Facts section*/

/* Services section*/
#services{
  padding: 60px 75px;
}
.custom-img-width{
  width: 100px;
}
.custom-img-width-2{
width: 60px;
}
/* !--Services section*/

/* newsletter*/
#newsletter{
  padding: 60px 75px;
  background-color: #7c7c7c;
  min-height: 300px;
  color: #fff;
}
.newsletter-input{
    width: 50%;
    border-radius: 0px;
    margin-right: -5px;
    display: inline-block;
    border: none;
    height: 35px;
}
.newsletter-input-btn{
    display: inline-block;
    border-radius: 0px;
    border: 1px solid #7c7c7c;
    padding: 8px 12px;
    background-color: #333333;
    color: #fff;
}
.newsletter-input-btn :hover{
    display: inline-block;
    border-radius: 0px;
    border: 1px solid #7c7c7c;
    padding: 8px 12px;
    background-color: #ccc !important;
    color: #fff;
}
.news-input{
  padding: 50px 15px;
}
.dont-miss{
  padding: 40px 15px;
}
/* !--newsletter*/

/* location*/

.signup-form{
      padding: 5px 90px;
}
.send-btn{
  border-radius: 0px;
  width: 200px;
}
/*!-- location*/

/*footer*/
#footer{
  padding: 30px 75px;
  background-color: #575756;
  color: #fff;
  min-height: 150px;
}
.footer-base .small-font{
  font-size: 12px;
}
.social-icons{
      margin-top: -5px;
}
/* !-- footer*/
.fancy-border{
  width: 500px;
  border-bottom: 1px solid #575756;
  display: block;
  margin-bottom: 20px;
}
.fancy-border span{
  width: 50px;
  border-bottom: 3px solid #575756;
  display: block;
}

/* Helper Classes */
#map {
 height: 400px;
 width: 100%;
}
.no-padding{
  padding: 0px;
}
.padding-sm{
  padding: 10px;
}
.padding-md-tb{
  padding: 20px 0px;
}
.img-center{
  text-align: center;
    display: block;
    margin: 0 auto;
}
.border-radious-none{
  border-radius: 0px;
}
.cursor-pointer{
  cursor: pointer;
}
/* !-- Helper Classes*/


/* Css 3 transition Effects*/
.grow:hover{
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
}
/* !-- Css 3 effecs*/


/*  Media Queries  */
  @media (max-width:768px){
    #about-us,#newsletter,#services,#facts{
      padding: 15px;
    }
    .signup-form {
        padding: 5px 15px;
    }
    #footer {
        padding: 10px 0px;
    }
    .fancy-border{
      width: 100%;
      border-bottom: 1px solid #575756;
      display: block;
      margin-bottom: 20px;
    }
  }

/*  !-- Media Queries  */
