/*!
  Author: Abrar Ashfaq
  Email: abrar@abrarashfaq.com
  Made with Love <3
 */


 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #575756;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav-rights{
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  padding: 5px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-top: 1px solid #b0b0b0;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-brand{
  border-top: 1px solid #575756 !important;
}
.sidebar-nav > .sidebar-brand img{
    display: block;
    margin: 0 auto;
    padding: 15px;
    max-width: 200px;
}
.sidebar-nav > .sidebar-brand .arabic{
    color: #fff;
}
.sidebar-nav > .sidebar-brand .cross{
  color: #fff;
  text-align: right;
  float: right;
  padding-right: 15px;
}
.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 200px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 200px;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
